<div class="custom-dialog">
<mat-toolbar>
    <span>Forgot Password</span>
</mat-toolbar>
<mat-dialog-content class="mat-typography" >
    <form [formGroup]="forgotPasswordForm">
        <div class="grid-1col">
       <mat-form-field appearance="outline" floatLabel="always" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="forgotPasswordForm.controls.email.touched &&  forgotPasswordForm.controls.email.invalid">
                <span *ngIf="forgotPasswordForm.controls.email.errors.required">This is mandatory</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">This field is invalid</span>
            </mat-error>
        </mat-form-field>

        </div>
    </form>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="forgotPasswordSubmit()" [disabled]="!(forgotPasswordForm.valid)">Submit</button>
</mat-dialog-actions>
</div>