<!-- <div class="container-fluied">
<mat-toolbar>
  <button matIconButton (click)="opened=!opened" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button (click)="signupAction()" matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  Signup
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
</div> -->
<mat-sidenav-container>
<mat-sidenav mode="side" [(opened)]="opened">mat-sidenav</mat-sidenav>
<mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>