

<mat-toolbar>
  <span>My App</span>
    <button matIconButton (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button matButton [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="signupAction()">Signup</button>
   <button mat-menu-item (click)="changePasswordAction()">Changepassword</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
</mat-toolbar>

<mat-sidenav-container>
<mat-sidenav #sidenav mode="side" [(opened)]="opened">
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title> Self aware panel </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState() ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
  <mat-list-item
  *ngFor="let menuItem of menuList"
  routerLinkActive="selected"
  [attr.data-group]="menuItem.state">
  <a [routerLink]="['/tcv/dashboard', menuItem.state]" *ngIf="(menuItem.role === '' || menuItem.role === tokenPayload.role)">{{ menuItem.name }}</a>
</mat-list-item>
  </mat-expansion-panel>
</mat-accordion>
</mat-sidenav>
<mat-sidenav-content>
 <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>