<!-- <div  style="height: 100%;"
(mousemove)="onUserAction()"
(click)="onUserAction()"
(keypress) ="onUserAction()"
 > -->
<mat-toolbar>
  <span>My App</span>
    <button matIconButton (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button matButton [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="signupAction()">Signup</button>
   <button mat-menu-item (click)="changePasswordAction()">Changepassword</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
</mat-toolbar>

<mat-sidenav-container >
<mat-sidenav #sidenav mode="side" [(opened)]="opened">
  <mat-nav-list>
            <a mat-list-item [routerLink]="['/tcv/dashboard']">Dashboard</a>
        </mat-nav-list>
<mat-accordion>

      <!-- Menu 1 -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>dashboard</mat-icon>
          <span>Products</span>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a mat-list-item [routerLink]="['/tcv/brands']">Brands</a>
          <a mat-list-item routerLink="/reports">Reports</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Menu 2 -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item routerLink="/profile">Profile</a>
          <a mat-list-item routerLink="/security">Security</a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>
</mat-sidenav>
<mat-sidenav-content>
  <!-- <nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">{{ breadcrumbL1}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{breadcrumbL2}}</li>
  </ol>
</nav> -->
<app-breadcrumb
  [breadcrumbL1]="breadcrumbL1"
  [breadcrumbL2]="breadcrumbL2">
</app-breadcrumb>
 <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
<!-- </div> -->
