<div class="custom-dialog">
<mat-toolbar>
    <span>Change Password</span>
</mat-toolbar>
<mat-dialog-content class="mat-typography" >
    <div class="grid-2col">
        <form [formGroup]="changePasswordForm">
       <mat-form-field appearance="outline" class="w-100">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword">
        <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
          Password is required (min 6 characters)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.controls.confirmPassword.touched">
          Passwords do not match
        </mat-error>

        <div *ngIf="changePasswordForm.controls.errors?.['passwordMismatch']" class="error-message">
        Passwords do not match.
      </div>
      </mat-form-field>
      </form>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
         <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="changePasswordAction()" >Submit</button>
    </mat-dialog-actions>
    </div>