<div class="custom-dialog">
  <mat-toolbar>
    <span>Change Password</span>
  </mat-toolbar>
  <mat-dialog-content class="mat-typography">
    <div class="grid-1col">
      <form [formGroup]="changePasswordForm">
         <mat-form-field appearance="outline" class="w-100" floatLabel="always">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="oldPassword">
          <mat-error
            *ngIf="changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].errors?.['invalid']">
             <span *ngIf="changePasswordForm.controls['oldPassword'].errors?.['required']">Password is required.</span>
            <span *ngIf="changePasswordForm.controls['oldPassword'].errors?.['invalid']">Password is required.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100" floatLabel="always">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword">
          <mat-error
            *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid">
             <span *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']">Password is required.</span>
            <span *ngIf="changePasswordForm.controls['newPassword'].errors?.['invalid']">Password is required.</span>
            <span *ngIf="changePasswordForm.controls['newPassword'].errors?.['pattern']">This field is invalid</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100" floatLabel="always">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
       <!-- <mat-error
            *ngIf="(changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('confirmPassword')?.touched) && changePasswordForm.errors?.['mismatch']">
            Passwords must match
          </mat-error> -->
        </mat-form-field>
        <span class="error-msg" style="padding-top: -10px !important;"
          *ngIf="changePasswordForm.errors?.['mismatch'] && (changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('confirmPassword')?.touched)">
          Passwords must match
        </span>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="changePasswordAction()" [disabled]="changePasswordForm.invalid">Submit</button>
  </mat-dialog-actions>
</div>