@media screen and (max-width: 768px) {
.login-page {
    background: rgb(172, 151, 33);
    color: white;
  }
   mat-card {
     min-width: 100% !important;
    max-width: 100% !important;
   margin: 15px !important;
 }
}
